In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count
    Display the total number of players

In [17]:
unique_players = len(purchase_data['SN'].unique())
print(f"{unique_players}")
pd.DataFrame({"Total Players" : [unique_players]})

576

   Total Players
0            576

Purchasing Analysis (Total)
Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [18]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [58]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = round(purchase_data["Price"].mean(),2)
number_of_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()
pd.DataFrame({"Number of Unique Items" : [unique_items],
             "Average Price" : [average_price],
             "Number of Purchases" : [number_of_purchases],
             "Total Revenue" : [total_revenue]
              })

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

Gender Demographics
Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

In [60]:
male_players = purchase_data["Gender"].value_counts()[0]
female_players = purchase_data["Gender"].value_counts()[1]
others = purchase_data["Gender"].value_counts()[2]
pd.DataFrame({"Total Count":[male_players]})
# test_df[0]

   Total Count
0          652

In [37]:
demographics_df = pd.DataFrame({})

SyntaxError: invalid syntax (<ipython-input-37-381fa1573467>, line 1)

In [ ]:
{}