In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Player Count
    Display the total number of players

In [10]:
unique_players = len(purchase_data['SN'].unique())
player_demo = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demo = player_demo.drop_duplicates()
unique_players_df = pd.DataFrame({"Total Players" : [unique_players]})
unique_players_df

   Total Players
0            576

Purchasing Analysis (Total)
Run basic calculations to obtain number of unique items, average price, etc.
Create a summary data frame to hold the results
Optional: give the displayed data cleaner formatting
Display the summary data frame

In [12]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = round(purchase_data["Price"].mean(),2)
number_of_purchases = purchase_data["Price"].count()
total_revenue = purchase_data["Price"].sum()

# Purchase summary DataFrame
purchase_df = pd.DataFrame({"Number of Unique Items" : [unique_items],
             "Average Price" : [average_price],
             "Number of Purchases" : [number_of_purchases],
             "Total Revenue" : [total_revenue]
              })

purchase_df["Average Price"] = purchase_df["Average Price"].map("${:,.2f}".format)
purchase_df["Total Revenue"] = purchase_df["Total Revenue"].map("${:,.2f}".format)
purchase_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

Gender Demographics
Percentage and Count of Male Players
Percentage and Count of Female Players
Percentage and Count of Other / Non-Disclosed

In [18]:
gender_demo_total = player_demo["Gender"].value_counts()
gender_demo_percentage = gender_demo_total/unique_players * 100

gender_demo_df = pd.DataFrame({"Total Count": gender_demo_total,
                      "Percentage of Players":gender_demo_percentage
                      })

gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:,.2f}%".format)
gender_demo_df

# test_df[0]

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [ ]:
demographics_df = pd.DataFrame({})

In [ ]:
{}